body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: #4A4A4A;
    background-color: #F5F5F5;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    overflow: hidden;
}

nav {
    width: 250px; /* Largura fixa */
    background-color: #4A4A4A;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centralizar horizontalmente */
    justify-content: center; /* Centralizar verticalmente */
}

nav img {
    display: block;
    margin: 20px auto;
    max-width: 150px;
    border-radius: 50%;
}

nav h1 {
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

nav ul li {
    margin-bottom: 10px;
    width: 100%;
}

nav ul li a {
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px;
    background-color: #4A4A4A;
    border-radius: 5px;
    display: block;
    text-align: center;
}

nav ul li a:hover {
    background-color: #000000;
}

.language-toggle {
    display: block;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #4A4A4A;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.language-toggle:hover {
    background-color: #000000;
}

footer {
    text-align: center;
    padding: 10px;
    color: #FFFFFF;
    font-size: 0.8em;
}

footer p {
    margin: 0;
    white-space: nowrap; /* Impedir quebra de linha no rodapé */
}

.content {
    margin-left: 270px; /* Adicionar espaço extra para evitar que o conteúdo toque na sidebar */
    padding: 20px;
    overflow-y: auto;
    height: 100vh;
    width: calc(100% - 270px);
    box-sizing: border-box;
}

.content section {
    padding: 20px;
    margin: 20px 0;
    background-color: #FFFFFF;
    border: 1px solid #A0A0A0;
    border-radius: 8px;
}

.content section h2 {
    border-bottom: 1px solid #A0A0A0;
    padding-bottom: 10px;
}



#contact a,
#contato a {
    color: #4A4A4A;
    text-decoration: none;
    word-wrap: break-word; /* Permitir quebra de linha para o email */
}

#contact a:hover,
#contato a:hover {
    text-decoration: underline;
}

@media (max-width: 200px) {
    nav {
        width: 100%;
        height: auto;
        position: relative;
    }

    .content {
        margin-left: 0;
        width: 100%;
    }

    footer {
        margin-left: 0;
        width: 100%;
    }
}
